<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>What's Out There?</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <!-- Wrapper Start -->
  <div class="wrapper">

    <!-- Header Start -->
    <header>
      <!-- Logo Start -->
      <div class="logo">
          <img src="../images/logo.png" alt="What's Out There?" title="What's Out There?">
      </div>
      <!-- Logo End -->
    </header>
    <!-- Header End -->

    <!-- Navigation Start -->
    <nav class="navbar is-link" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a href="/" class="navbar-item">
            Home
          </a>
          <a href="/dashboard" class="navbar-item">
            Dashboard
          </a>
      </div>

      <div class="navbar-end">
          <div class="navbar-item">
          {{#if loggedIn}}
            <a class="button is-warning" id="logout"><strong>Logout</strong></a>
            {{else}}
            <a href="/login">
            Login
            </a>
            {{/if}} 
          </div>
        </div>
      </div>
    </nav>
    <!-- Navigation End -->
    
    <!-- Main Start -->
    <main>
      {{{ body }}}
    </main>
    <!-- Main End -->

    <!-- Footer Start -->
    <footer>
      <h2>Stay On Watch - Eyes to the Sky!</h2>
      
    </footer>
    <!-- Footer End -->

  </div>
  <!-- Wrapper End -->

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>