<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>What's out there?</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <!-- Wrapper Start -->
  <div class="wrapper">

    <!-- Header Start -->
    <header>
      <!-- Logo Start -->
      <div class="logo">
          <h1>What's Out There?</h1>
      </div>
      <!-- Logo End -->
    </header>
    <!-- Header End -->
    
    <!-- Main Start -->
    <main>
      <!-- Navigation Start -->
      <div class="navigation">
          <a href="/">Home</a>
          <a href="/dashboard">Dashboard</a>
        <nav>
          {{#if loggedIn}}
          <button id="logout" class="btn-no-style">Logout</button>
          {{else}}
          <a href="/login">Login</a>
          {{/if}}
        </nav>
      </div>
      <!-- Navigation End -->

      {{{ body }}}
    </main>
    <!-- Main End -->

    <!-- Footer Start -->
    <footer>
      Stay On Watch - Eyes to the Sky!
    </footer>
    <!-- Footer End -->

  </div>
  <!-- Wrapper End -->

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>