<section>
  <h2 class="main-title">Post a New Sighting</h2>
  <hr>
  <br/>
  <form class="new-post-form">
    <div>
      <label for="post-sighting">Sighting</label>
      <textarea name="post-sighting" id="post-sighting"></textarea>
    </div>
    <div>
      <label for="post-description">Description</label>
      <textarea name="post-description" id="post-description"></textarea>
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>
{{#if posts.length}}
<section>
  <br/>
  <hr>
  <h2 class="main-title">Your Sightings</h2>
  <hr>
  <br/>
  <ol>
    
    {{#each posts as |post|}}
    
    <li>
      <div class="meta">

        <div class="post-section">

        <div class="post-photo">  
          <img src="../images/post_icon.jpg" alt="UFO Sighting" title="UFO Sighting">
        </div>   

        <div class="post-info">
        {{> post-info post}}
        
        </div>
        </div>

        <a href="/dashboard/edit/{{post.id}}" class="edit-post">Edit Sighting {{post.id}}</a>
      </div>
    </li>
    <br>
    {{/each}}
  </ol>
</section>
{{/if}}
<script src="/javascript/add-post.js"></script>